{{#if next}}
<div class="pagination-section global-section global-aos" data-aos="fade-up">
	<div class="pagination-wrap global-wrap global-flex">
		<a id="next" href="{{page_url next}}"></a>
		<button id="loadmore" class="loadmore-button global-button">{{t "Load more"}}</button>
	</div>
</div>
{{/if}}