<li class="members-login-panel-section">
	<a class="members-signup" href="{{@site.url}}/signup/">{{t "Sign up"}}</a>
	<a class="members-signup" href="{{@site.url}}/involved/">{{t "Get Involved"}}</a>
</li>